div.avatar > img {
  border-radius: 50%;
}

div.container.profile {
  padding: 10px 20px;
}

.no-marging {
  margin: 0 !important;
}

.absolue {
  position: absolute;
}

div.profile-row {
  margin-top: 55px;
}

.absolue.center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0%);
}

div.alert {
  width: 40%;
}

.alert-col {
}

.alert-col > .alert {
  padding: 10px;
  border-radius: 0;
  transition: all 0.5s ease;
  opacity: 0;
}

.alert-col > .alert.display {
  opacity: 1;
}

hr {
  height: 2px;
}

img.avart-img {
  max-width: 200px;
}

div.container.profile {
  padding: 10px 20px;
}

.absolue {
  position: absolute;
}

div.profile-row {
  margin-top: 55px;
}

.absolue.center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0%);
}

div.alert {
  width: 40%;
}

.alert-col > .alert {
  padding: 10px;
  border-radius: 0;
  transition: all 0.5s ease;
  opacity: 0;
}

hr {
  height: 2px;
}

.content-right > * {
  float: right;
}

.form-btn {
  min-width: 100px;
  margin: 0 5px;
  max-width: 200px;
}

#nav-item-label {
  color: #53565f;
}

#nav-item .active, a:hover {
  /*background-color: rgb(248,249,252);*/
}

#nav-icon {
  font-size: 30px;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #4e73df;
  --bs-btn-border-color: #4e73df;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #cf76b1;
  --bs-btn-hover-border-color: #cf76b1;
  --bs-btn-focus-shadow-rgb: 105, 136, 228;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #3e5cb2;
  --bs-btn-active-border-color: #3b56a7;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #4e73df;
  --bs-btn-disabled-border-color: #4e73df;
}

#buy-credit-row {
  padding-top: 9px;
  padding-bottom: 9px;
  border-bottom: 0.1px solid var(--bs-card-border-color);
}

#chart-usage {
  margin-top: 13px;
}

#duplicate-icon {
  font-size: 30px;
  color: #cf76b1;
}

#duplicate-icon :hover {
  color: #4e73df;
}

#btn-verify-disable {
  background-color: #cf76b1;
  color: var(--bs-btn-color);
  border-style: none;
  border-radius: 25px;
  padding-right: 24px;
  padding-left: 24px;
  height: 50%;
}

#btn-verify-disable:hover {
  background-color: #4e73df;
}

#checkbox-label {
  font-size: 13px;
}

.pass_show {
  position: relative;
}

.pass_show .ptxt {
  position: absolute;
  top: 50%;
  right: 10px;
  z-index: 1;
  color: #f36c01;
  margin-top: -10px;
  cursor: pointer;
  transition: .3s ease all;
}

.pass_show .ptxt:hover {
  color: #333333;
}

#descriptioin {
  font-size: 14px;
  margin-top: -7px;
}

.change-password {
  font-size: .8rem;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 30px;
}

.relative {
  position: relative;
}

div.avatar {
}

.center {
  text-align: center;
}

div.avatar-bg {
  background: url("../../assets/img/Profile%20Img/Avatar-Logo%20placeholder.jpg");
  background-position: 50% 50%;
  height: 200px;
  width: 200px;
  background-size: cover;
  border-radius: 50%;
  margin-left: calc(50% - 100px);
}

.form-btn {
  min-width: 100px;
  margin: 0 5px;
  max-width: 200px;
}

.content-right > * {
  float: right;
}

.onoffswitch {
  position: relative;
  width: 90px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #999999;
  border-radius: 20px;
}

.onoffswitch-switch {
  display: block;
  width: 15px;
  margin: 9px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 56px;
  border: 1px solid #999999;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 12px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

.onoffswitch-inner:after {
  content: "Individual";
  padding-right: 5px;
  background-color: #EEEEEE;
  color: #999999;
  text-align: right;
}

.onoffswitch-inner:before {
  content: "Business";
  padding-left: 5px;
  background-color: #34A7C1;
  color: #FFFFFF;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 11px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

.onoffswitch-inner:after {
  content: "Indiv.";
  background-color: #cf76b1;
  color: #ffffff;
  text-align: center;
}

.onoffswitch-inner:before {
  content: "Business";
  padding-left: 7px;
  background-color: #4e73df;
  color: #FFFFFF;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

@media (min-width: 368px) {
  #indes-heading {
    font-size: 32px;
  }
}

#index-heading {
  color: #ffb3d6;
  font-family: 'Bruno Ace SC', serif;
  text-align: center;
  font-size: 30px;
}

#index-subtitle {
  color: #ededed;
  font-size: 14px;
  margin-top: -10px;
}

@media (min-width: 768px) {
  #index-heading {
    font-size: 30px;
  }
}

@media (min-width: 992px) {
  #index-heading {
    font-size: 40px;
  }
}

.sidebar {
  width: 3.5rem;
  min-height: 100vh;
  background: rgb(255,255,255);
}

@media (min-width: 300px) {
  #nav-item-label {
    display: none;
  }
}

@media (min-width: 768px) {
  #nav-item-label {
    display: inline-flex;
  }
}

@media (min-width: 300px) {
  .sidebar .nav-item .nav-link {
    text-align: center;
    padding: .75rem 1rem;
    width: 3.5rem;
    font-size: .65rem;
  }
}

@media (min-width: 768px) {
  .sidebar .nav-item .nav-link {
    text-align: left;
    padding: .75rem 1rem;
    width: 13.2rem;
    font-size: .65rem;
  }
}

@media (min-width: 768px) {
  .sidebar {
    width: 14.7rem !important;
  }
}

@media (min-width: 300px) {
  #custom-code-input-field {
    background: rgb(255,255,255);
    border-style: none;
    border-bottom-style: none;
  }
}

@media (min-width: 992px) {
  .d-flex {
    align-content: flex-start;
  }
}

@media (min-width: 992px) {
  #change-data {
    display: inline-flex;
    /*justify-content: flex-start !important;*/
  }
}

@media (min-width: 300px) {
  #change-data {
    margin-bottom: 20px;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  #nav-item-label {
    font-size: 12px;
    font-family: Coda, serif;
  }
}

@media (min-width: 1200px) {
  #nav-item-label {
    font-size: 13px;
    font-family: Coda, serif;
  }
}

@media (min-width: 300px) {
  #photo-column {
    width: 100%;
    margin-top: 20px;
  }
}

@media (min-width: 992px) {
  #photo-column {
    width: 33%;
  }
}

div {
}

@media (min-width: 300px) {
  #consent-box {
    padding-top: 16px;
    border-radius: 5.6px;
    background: #ffffff;
    border: 0.1px solid rgb(218,222,242);
    width: 100%;
  }
}

@media (min-width: 992px) {
  #consent-box {
    width: 66%;
  }
}

@media (min-width: 300px) {
  #user-settings-row {
    display: inline-grid;
    width: 110%;
  }
}

#general-form-label {
  font-size: 15px;
}

@media (min-width: 300px) {
  #user-data-box {
    max-width: 100%;
  }
}

@media (min-width: 576px) {
  #user-settings-row {
    width: 100%;
  }
}

@media (min-width: 1400px) {
  #user-settings-row {
    display: flex;
  }
}

@media (min-width: 300px) {
  #btn-gen-report {
    margin-top: 15px;
  }
}

@media (min-width: 300px) {
  #h-credits {
    display: grid;
  }
}

@media (min-width: 576px) {
  #h-credits {
    display: flex;
    justify-content: space-between !important;
  }
}

@media (min-width: 576px) {
  #btn-gen-report {
    margin-top: 0px;
  }
}

@media (min-width: 992px) {
  #title-credits {
    text-align: left;
  }
}

@media (min-width: 576px) {
  #col-gen-report {
    max-width: 33%;
  }
}

@media (min-width: 576px) {
  #col-title {
    width: 70%;
  }
}

@media (min-width: 300px) {
  #tab-link {
    font-size: 12px;
    padding-right: 4px;
    padding-left: 4px;
  }
}

@media (min-width: 576px) {
  #tab-link {
    font-size: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

#col-recurring-link {
  text-align: center;
}

@media (min-width: 992px) {
  #h-container {
    padding-right: 24px;
    padding-left: 24px;
  }
}

#index-item {
  color: var(--bs-blue);
  font-size: 15px;
  font-family: 'Coda';
}

#index-icon {
  color: var(--bs-blue);
  font-size: 34px;
  margin-right: 5px;
}

#index-item-button {
  width: 100%;
  height: 100px;
  background: rgb(255,255,255);
  border: none;
  margin-bottom: 10px;
}

#index-item-button-2:hover {
  background-color: #cf76b1;
}

#index-item-2 {
  font-size: 14px;
  font-family: 'Coda';
}

#index-icon-2 {
  font-size: 24px;
  margin-right: 5px;
}

#index-item-button:hover {
  background-color: #f0f6ff;
}

#nav-item:hover {
  background-color: rgb(248,249,252);
}

#link-item :hover {
  font-weight: bold;
}

@media (min-width: 300px) {
  #col-nav-icon {
    padding: 12px;
    background: var(--bs-primary);
    border-style: none;
  }
}

@media (min-width: 768px) {
  #col-nav-icon {
    padding: 12px;
    background: var(--bs-primary);
    border-style: none;
    max-width: 25%;
  }
}

@media (min-width: 1200px) {
  #col-nav-icon {
    padding: 12px;
    background: var(--bs-primary);
    border-style: none;
    max-width: 25%;
  }
}

#nav-icon {
  color: rgb(255,255,255);
  margin-right: 3px;
}

@media (min-width: 300px) {
  #link-item {
    padding: 15px;
    width: 10rem;
    display: none;
  }
}

@media (min-width: 768px) {
  #link-item {
    padding: 15px;
    width: 10.7rem;
  }
}

@media (min-width: 1200px) {
  #link-item {
    padding: 17px;
    width: 11rem;
  }
}

#nav-icon-link:hover {
  background-color: #00000000;
  color: #ffb3d6;
}

#nav-icon:hover {
  background-color: var(--bs-primary);
  color: #ffb3d6;
}

#nav-icon-link:active {
  color: #ffb3d6;
}

#nav-icon-link :hover {
}

@media (min-width: 300px) {
  #nav-item {
    margin-bottom: 1px;
  }
}

@media (min-width: 768px) {
  .tooltip {
    display: none;
  }
}

#counter-title {
  font-size: 11px;
}

#col-counter {
  padding: 0px 8px;
}

#col-nav-icon ul li:hover {
  background-color: var(--bs-primary-text-emphasis);
}

.nav-link a:active {
  background-color: rgb(248,249,252);
}

@media (min-width: 300px) {
  #api-group-lable {
    border-style: none;
    background: transparent;
    font-weight: bold;
    margin-right: 20px;
    width: 100%;
    justify-content: center;
  }
}

@media (min-width: 300px) {
  #api-input {
    background: rgb(255,255,255);
    border-style: none;
    border-bottom-style: none;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (min-width: 992px) {
  #api-group {
  }
}

@media (min-width: 300px) {
  #api-group {
    display: inline-grid;
    margin-bottom: 5px;
  }
}

@media (min-width: 992px) {
  #api-group-lable {
    width: 12%;
    justify-content: left;
  }
}

@media (min-width: 992px) {
  #api-input {
    width: 50%;
  }
}

@media (min-width: 992px) {
  #api-group {
    display: flex;
  }
}

#col-api-save-btn {
}

@media (min-width: 300px) {
  #btn-verify-disable {
    margin-left: 10px;
  }
}

@media (min-width: 300px) {
  #btn-verify-disable {
    margin-top: 3px;
  }
}

@media (min-width: 576px) {
  #btn-verify-disable {
    margin-top: 0px;
  }
}

@media (min-width: 300px) {
  #btn-save {
    text-align: center;
  }
}

@media (min-width: 576px) {
  #btn-save {
    text-align: left;
  }
}

@media (min-width: 576px) {
  #btn-2fa-auth {
    text-align: left;
  }
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  /*align-items: stretch;*/
  width: 100%;
}

@media (min-width: 300px) {
  #status-2fa {
    justify-content: center;
  }
}

@media (min-width: 576px) {
  #status-2fa {
    justify-content: left;
  }
}

@media (min-width: 576px) {
  #btn-sec {
    text-align: left;
  }
}

@media (min-width: 300px) {
  #header-title {
    text-align: center;
  }
}

@media (min-width: 576px) {
  #header-title {
    text-align: start;
  }
}

@media (min-width: 576px) {
  #title {
    text-align: start;
  }
}

#page-title {
  font-family: 'Bruno Ace SC', serif;
  font-size: 19px;
  font-weight: bold;
}

@media (min-width: 300px) {
  #page-title {
    text-align: center;
  }
}

@media (min-width: 576px) {
  #page-title {
    text-align: start;
  }
}

@media (min-width: 576px) {
  #change-data {
    justify-content: left;
  }
}

@media (min-width: 300px) {
  #descriptioin {
    text-align: center;
  }
}

@media (min-width: 576px) {
  #descriptioin {
    text-align: left;
  }
}

@media (min-width: 300px) {
  #toggle-col-rt {
    display: none;
  }
}

@media (min-width: 992px) {
  #toggle-col-rt {
    display: block;
    max-width: 34%;
  }
}

@media (min-width: 300px) {
  #col-toggle {
    justify-content: center;
    display: flex;
  }
}

@media (min-width: 576px) {
  #col-toggle {
    justify-content: end;
  }
}

#feedback-formCheck {
  border-color: var(--bs-primary);
}

@media (min-width: 300px) {
  #btn-group-delete-pause {
    width: 100%;
    display: grid;
  }
}

@media (min-width: 992px) {
  #btn-group-delete-pause {
    display: inline-flex;
  }
}

@media (min-width: 1921px) {
  #btn-group-delete-pause {
    /*display: block;*/
  }
}

.form-check-input:hover {
  border-color: #709ef8;
  box-shadow: 0px 0px 2px rgb(65,65,65);
}

.form-check-input {
  border-color: #a7b9ef;
}

#btn-pause {
  background: #a4a7c3;
  color: var(--bs-light-bg-subtle);
  border-radius: 20px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

#btn-pause:hover {
  background-color: #737783;
}

#btn-delete {
  color: var(--bs-code-color);
  border-color: var(--bs-code-color);
  border-radius: 20px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

#btn-delete:hover {
  background-color: #cf76b1;
  color: #ffffff;
  border: none;
}

@media (min-width: 300px) {
  #content-container {
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 14px;
    padding-bottom: 40px;
  }
}

@media (min-width: 576px) {
  #content-container {
    padding-left: 14px;
    padding-right: 14px;
  }
}

#btn-support {
  border-radius: 20px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

@media (min-width: 1921px) {
  #btn-delete {
    max-width: 150px;
  }
}

@media (min-width: 1921px) {
  #btn-pause {
    max-width: 150px;
  }
}

@media (min-width: 1921px) {
  #btn-support {
    max-width: 150px;
  }
}

@media (min-width: 768px) {
  #accordionSidebar {
    /*margin-left: 50px;*/
  }
}

